<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>

<div class="col-md-3 float-left">
  <h2> Products </h2>
  <app-products></app-products>

  <h3>Item Action</h3>
  <label> Name: </label>
  <input (keyup)="onNameChange($event)"> 
  <label> Quantity: </label>
  <input (keyup)="onQuantityChange($event)"> 
  <br><br>
  <button (click)="createNewCartWithItem()">Create New Cart with Item</button>

  <br>
  <h2> Shopping Cart -- ononcart </h2>
  <app-shoppingcart></app-shoppingcart>
</div>

